<head>
    <script>
        function changeRed() {
            document.getElementById('div1').style.backgroundColor = "red";
        }
        function changeBlue() {
            document.getElementById('div1').style.backgroundColor = "blue";
        }
    </script>
</head>
<div id="div1">
    when you press a button of these it will change the color of the div background
    <button onclick="changeRed()" id="red">press here to make it red</button>
    <button onclick="changeBlue()" id="blue">press here to make it blue</button>
</div>

